.update-flow {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 510px;
  min-height: 400px;
  position: relative;
}

.update-flow form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.update-flow input[type="text"] {
    width: 90%;
}